n8n-workflows/2-daily-summary.json
{
  "name": "Media Server - Daily Summary Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://radarr:7878/api/v3/system/status?apikey={{ $env.RADARR_KEY }}",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-radarr",
      "name": "Check Radarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://radarr:7878/api/v3/queue?apikey={{ $env.RADARR_KEY }}",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "radarr-queue",
      "name": "Radarr Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://sonarr:8989/api/v3/system/status?apikey={{ $env.SONARR_KEY }}",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-sonarr",
      "name": "Check Sonarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://sonarr:8989/api/v3/queue?apikey={{ $env.SONARR_KEY }}",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "sonarr-queue",
      "name": "Sonarr Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://prowlarr:9696/api/v1/system/status?apikey={{ $env.PROWLARR_KEY }}",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-prowlarr",
      "name": "Check Prowlarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://gluetun:8080/",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-qbittorrent",
      "name": "Check qBittorrent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://tdarr:8265",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-tdarr",
      "name": "Check Tdarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:32400/identity",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-plex",
      "name": "Check Plex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:9182/metrics",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "system-metrics",
      "name": "System Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "jsCode": "const status = (node) => {\n  try {\n    const d = $(node).first().json;\n    return (!d || d.statusCode >= 400 || d.error || d.code === 'ECONNREFUSED') ? 'вќЊ Down' : 'вњ… Online';\n  } catch(e) { return 'вќЊ Down'; }\n};\n\nconst radarrQueue = $('Radarr Queue').first().json?.totalRecords ?? 0;\nconst sonarrQueue = $('Sonarr Queue').first().json?.totalRecords ?? 0;\n\n// Parse prometheus metrics\nconst parseMetric = (text, name) => {\n  const match = text.match(new RegExp(`^${name}\\\\s+([\\\\d.e+]+)`, 'm'));\n  return match ? parseFloat(match[1]) : null;\n};\n\nconst parseMetricLabeled = (text, name, label) => {\n  const match = text.match(new RegExp(`^${name}\\\\{[^}]*${label}[^}]*\\\\}\\\\s+([\\\\d.e+]+)`, 'm'));\n  return match ? parseFloat(match[1]) : null;\n};\n\nlet sysSection = 'Unavailable';\ntry {\n  const metrics = $('System Metrics').first().json;\n  const raw = typeof metrics === 'string' ? metrics : (metrics.data ?? metrics.body ?? '');\n\n  const memAvail = parseMetric(raw, 'windows_os_physical_memory_free_bytes');\n  const memTotal = parseMetric(raw, 'windows_os_visible_memory_bytes');\n  const memUsedPct = memTotal && memAvail ? Math.round((1 - memAvail / memTotal) * 100) : null;\n\n  // Disk free for D:\n  const diskFreeMatch = raw.match(/windows_logical_disk_free_bytes\\{volume=\"D:\"\\}\\s+([\\d.e+]+)/);\n  const diskTotalMatch = raw.match(/windows_logical_disk_size_bytes\\{volume=\"D:\"\\}\\s+([\\d.e+]+)/);\n  const diskFreeGB = diskFreeMatch ? (parseFloat(diskFreeMatch[1]) / 1e9).toFixed(0) : null;\n  const diskTotalGB = diskTotalMatch ? (parseFloat(diskTotalMatch[1]) / 1e9).toFixed(0) : null;\n\n  // Thermalzone temps\n  const tempMatches = [...raw.matchAll(/windows_thermalzone_temperature_celsius\\{[^}]+\\}\\s+([\\d.e+]+)/g)];\n  const temps = tempMatches.map(m => parseFloat(m[1]).toFixed(1));\n  const maxTemp = temps.length ? Math.max(...temps.map(Number)).toFixed(1) : null;\n\n  sysSection = [\n    memUsedPct !== null ? `RAM Usage:           ${memUsedPct}% (${((memTotal - memAvail)/1e9).toFixed(1)} / ${(memTotal/1e9).toFixed(1)} GB)` : 'RAM Usage:           Unavailable',\n    diskFreeGB !== null ? `Disk D: Free:        ${diskFreeGB} GB / ${diskTotalGB} GB` : 'Disk D: Free:        Unavailable',\n    maxTemp !== null ? `Peak Temp:           ${maxTemp}В°C` : 'Peak Temp:           Unavailable',\n  ].join('\\n');\n} catch(e) {\n  sysSection = 'Error reading metrics: ' + e.message;\n}\n\n// Indexer health via Prowlarr API (no tracker hits вЂ” reads cached failure status)\nlet indexerSection = 'Unavailable';\ntry {\n  const http = require('http');\n  const KEY = $env.PROWLARR_KEY;\n  const pget = (path) => new Promise((resolve) => {\n    const r = http.request({ host: 'prowlarr', port: 9696, path: path, method: 'GET', headers: { 'X-Api-Key': KEY } }, (res) => {\n      let b = '';\n      res.on('data', (c) => { b += c; });\n      res.on('end', () => { try { resolve(JSON.parse(b || 'null')); } catch (e) { resolve(null); } });\n    });\n    r.on('error', () => resolve(null));\n    r.end();\n  });\n  const statusArr = (await pget('/api/v1/indexerstatus')) || [];\n  const indexers = (await pget('/api/v1/indexer')) || [];\n  const nameById = {};\n  for (const i of indexers) { nameById[i.id] = i.name; }\n  const now = Date.now();\n  const failing = statusArr.filter((s) => s.disabledTill && new Date(s.disabledTill).getTime() > now);\n  if (indexers.length === 0) {\n    indexerSection = 'No indexers configured';\n  } else if (failing.length === 0) {\n    indexerSection = `All ${indexers.length} indexer(s) healthy`;\n  } else {\n    const lines = failing.map((s) => `  ${nameById[s.indexerId] || ('id ' + s.indexerId)} вЂ” failing (retry after ${new Date(s.disabledTill).toLocaleString()})`);\n    indexerSection = `${failing.length} of ${indexers.length} indexer(s) failing:\\n` + lines.join('\\n');\n  }\n} catch (e) {\n  indexerSection = 'Error reading indexer status: ' + e.message;\n}\n\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst body = `рџ“є Media Server Daily Summary - ${date}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSERVICE STATUS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nRadarr (Movies):    ${status('Check Radarr')}\nSonarr (TV):        ${status('Check Sonarr')}\nProwlarr:           ${status('Check Prowlarr')}\nqBittorrent/VPN:    ${status('Check qBittorrent')}\nTdarr:              ${status('Check Tdarr')}\nPlex:               ${status('Check Plex')}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nDOWNLOAD QUEUE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nMovies downloading:  ${radarrQueue}\nTV downloading:      ${sonarrQueue}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSYSTEM HEALTH\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n${sysSection}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nINDEXER HEALTH\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n${indexerSection}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nQUICK LINKS\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nRadarr:      http://localhost:7878\nSonarr:      http://localhost:8989\nqBittorrent: http://localhost:8080\nTdarr:       http://localhost:8265\nn8n:         http://localhost:5678\n`;\n\nreturn [{ json: { body, subject: 'рџ“є Media Server Summary - ' + date } }];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "fromEmail": "jmalina7897@gmail.com",
        "toEmail": "jmalina7897@gmail.com",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}"
      },
      "id": "send-summary",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2420, 300],
      "credentials": {
        "smtp": { "id": "1", "name": "SMTP account" }
      }
    }
  ],
  "connections": {
    "Daily at 8am": { "main": [[{ "node": "Check Radarr", "type": "main", "index": 0 }]] },
    "Check Radarr": { "main": [[{ "node": "Radarr Queue", "type": "main", "index": 0 }]] },
    "Radarr Queue": { "main": [[{ "node": "Check Sonarr", "type": "main", "index": 0 }]] },
    "Check Sonarr": { "main": [[{ "node": "Sonarr Queue", "type": "main", "index": 0 }]] },
    "Sonarr Queue": { "main": [[{ "node": "Check Prowlarr", "type": "main", "index": 0 }]] },
    "Check Prowlarr": { "main": [[{ "node": "Check qBittorrent", "type": "main", "index": 0 }]] },
    "Check qBittorrent": { "main": [[{ "node": "Check Tdarr", "type": "main", "index": 0 }]] },
    "Check Tdarr": { "main": [[{ "node": "Check Plex", "type": "main", "index": 0 }]] },
    "Check Plex": { "main": [[{ "node": "System Metrics", "type": "main", "index": 0 }]] },
    "System Metrics": { "main": [[{ "node": "Build Summary", "type": "main", "index": 0 }]] },
    "Build Summary": { "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
