n8n-workflows/2-daily-summary.json
{
  "name": "Media Server - Daily Summary Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://radarr:7878/api/v3/system/status?apikey=a0820d7c3b224ac193b952be5c7ba7ff",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-radarr",
      "name": "Check Radarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://radarr:7878/api/v3/queue?apikey=a0820d7c3b224ac193b952be5c7ba7ff",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "radarr-queue",
      "name": "Radarr Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://sonarr:8989/api/v3/system/status?apikey=15da690a3ce44ac397cc5663201266b5",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-sonarr",
      "name": "Check Sonarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://sonarr:8989/api/v3/queue?apikey=15da690a3ce44ac397cc5663201266b5",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "sonarr-queue",
      "name": "Sonarr Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://prowlarr:9696/api/v1/system/status?apikey=7711dece6ef04bf9a2caa387f1854dd3",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-prowlarr",
      "name": "Check Prowlarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://gluetun:8080/api/v2/app/version",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-qbittorrent",
      "name": "Check qBittorrent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://tdarr:8265",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-tdarr",
      "name": "Check Tdarr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:32400/identity",
        "options": { "timeout": 8000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-plex",
      "name": "Check Plex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const status = (node) => {\n  try {\n    const d = $(node).first().json;\n    return (!d || d.statusCode >= 400 || d.error || d.code === 'ECONNREFUSED') ? '❌ Down' : '✅ Online';\n  } catch(e) { return '❌ Down'; }\n};\n\nconst radarrQueue = $('Radarr Queue').first().json?.totalRecords ?? 0;\nconst sonarrQueue = $('Sonarr Queue').first().json?.totalRecords ?? 0;\n\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst body = `📺 Media Server Daily Summary - ${date}\n\n═══════════════════════════\nSERVICE STATUS\n═══════════════════════════\nRadarr (Movies):    ${status('Check Radarr')}\nSonarr (TV):        ${status('Check Sonarr')}\nProwlarr:           ${status('Check Prowlarr')}\nqBittorrent/VPN:    ${status('Check qBittorrent')}\nTdarr:              ${status('Check Tdarr')}\nPlex:               ${status('Check Plex')}\n\n═══════════════════════════\nDOWNLOAD QUEUE\n═══════════════════════════\nMovies downloading:  ${radarrQueue}\nTV downloading:      ${sonarrQueue}\n\n═══════════════════════════\nQUICK LINKS\n═══════════════════════════\nRadarr:      http://localhost:7878\nSonarr:      http://localhost:8989\nqBittorrent: http://localhost:8080\nTdarr:       http://localhost:8265\nn8n:         http://localhost:5678\n`;\n\nreturn [{ json: { body, subject: '📺 Media Server Summary - ' + date } }];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "fromEmail": "jmalina7897@gmail.com",
        "toEmail": "jmalina7897@gmail.com",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}"
      },
      "id": "send-summary",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2200, 300],
      "credentials": {
        "smtp": { "id": "1", "name": "SMTP account" }
      }
    }
  ],
  "connections": {
    "Daily at 8am": { "main": [[{ "node": "Check Radarr", "type": "main", "index": 0 }]] },
    "Check Radarr": { "main": [[{ "node": "Radarr Queue", "type": "main", "index": 0 }]] },
    "Radarr Queue": { "main": [[{ "node": "Check Sonarr", "type": "main", "index": 0 }]] },
    "Check Sonarr": { "main": [[{ "node": "Sonarr Queue", "type": "main", "index": 0 }]] },
    "Sonarr Queue": { "main": [[{ "node": "Check Prowlarr", "type": "main", "index": 0 }]] },
    "Check Prowlarr": { "main": [[{ "node": "Check qBittorrent", "type": "main", "index": 0 }]] },
    "Check qBittorrent": { "main": [[{ "node": "Check Tdarr", "type": "main", "index": 0 }]] },
    "Check Tdarr": { "main": [[{ "node": "Check Plex", "type": "main", "index": 0 }]] },
    "Check Plex": { "main": [[{ "node": "Build Summary", "type": "main", "index": 0 }]] },
    "Build Summary": { "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
